@font-face {
    font-family: "8-Bit-Wonder";
    src: url('/fonts/8-BIT-WONDER.TTF') format('truetype');
}

@font-face {
    font-family: "Seaweed-Script";
    src: url('/fonts/SeaweedScript-Regular.ttf') format('truetype');
}